# EditorConfig helps developers define and maintain consistent
# coding styles between different editors and IDEs
# editorconfig.org

# NOTE: Atom Users: You may need to disable the built-in whitespace package to use .editorconfig properly.

root = true


[*]

# Change these settings to your own preference
indent_style = space
indent_size = 2

# It's recommended to keep these unchanged
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.md]
trim_trailing_whitespace = false
